<h2>Cocktail details</h2>
<div class="content-block">
  <div class="content-inner">
    <div class="entry-content cocktail-content-wrapper">
      <div class="cocktail-single-photo">
        <%= cl_image_tag @cocktail.photo, height: 300, width: 400, crop: :fill %>
      </div>
      <div class="cocktail-specs-wrapper">
        <div class="cocktail-description">
          <h2><%=  @cocktail.name%></h2>

        </div>
        <div class="cocktail-ingredients">
          <ul class="ingredients-list">
            <% @doses.each do |dose| %>
            <li>
              <%=  dose.ingredient.name%> <%= dose.description %> <%= link_to "Delete", dose_path(dose.id), method: :delete %>
            </li>
            <% end %>
          </ul>
        </div>
        <%=  link_to "Add ingredient", new_cocktail_dose_path(@cocktail.id), class: "btn btn-danger btn-sm"%>
        <%= link_to "Back to main", root_path, class: "btn btn-danger btn-sm" %>
      </div>
    </div>
  </div>
</div>










