<h1>Add ingredient for <%= @cocktail.name %></h1>
<div class="container">
  <div class="row">
    <div class="col-sm-offset-3 col-sm-6 ">
      <%= simple_form_for [@cocktail, @dose] do |f| %>
        <%= f.association :ingredient, input_html: { class: "beautiful-dropdown"},
        include_hidden: false %>
        <%= f.input :description %>
        <%= f.button :submit, class: 'btn btn-danger'%>
      <% end %>
    </div>
  </div>
</div>
